body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(38,231,170,1) 40%, rgba(65,65,147,1) 100%, rgba(0,212,255,1) 100%);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    font-size: 50px;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}